@import "variables";

.post {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    @include hoverBox;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .blog-image {
    background-image: linear-gradient(297deg, #aedb74, #e0fe9c);
    background-size: cover;
    display: block;
    height: 200px;
    position: relative;
    width: 100%;

    .btn {
      font-size: 11px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .blog-content {
    background-color: white;
    border: 1px solid $c-border;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;

    h5 {
      margin-bottom: 10px;
    }

    .details {
      font-size: 14px;
      margin-top: auto;

      a {
        color: $c-green;
        font-size: 14px;
      }

      .date {
        line-height: 1;
      }
    }
  }
}

@media (max-width: 767px) {
  .post {
    .blog-image {
      height: 147px;
    }

    .blog-content {
      h5 {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }
}