.pagination-inner {
  align-items: center;
  display: flex;
  justify-content: center;

  .page-numbers-wrapper {
    display: flex;
  }

  .page-numbers {
    border: 1px solid #e9eaea;
    color: #363637;
    padding: 5px 10px;

    &.current {
      background-color: #e9eaea;
    }
  }
}

@media (max-width: 767px) {
  .pagination-inner {
    .page-numbers {
      display: none;
    }

    .next, .prev, .pagelink {
      display: inline-block;
    }
  }
}