/* Form */
// pull modules into local scope ##
@use 'q'; // placeholder ##
@use 'bootstrap' as bs; // bootstrap ##

form {
	label {
		font-weight: 400;
	}
}

.form-group {
	padding: 0 5px;
}

.form-control {
	border: 1px solid bs.color( border );
	box-shadow: none;
	//color: $color-text-light;
	// height: 42px;
	font-size: 18px;
}

.form-control:disabled {
	background-color: bs.color( border );
}

.form-group .tag {
	display: inline-block;
	margin: 0 2px;

	label {
		background-color: bs.color( border );
		border-radius: 20px;
		color: bs.color( text );
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		padding: 9px 10px;
		text-transform: none;

		&:before {
			display: none;
		}

		&:hover {
			background-color: bs.color( border );
		}
	}

	input:checked + label {
		background-color: bs.color( grey-light );
		color: white;
	}
}

/* checkbox */
.checkbox, .gfield_checkbox li {
	input[type="checkbox"] {
		+ label {
			cursor: pointer;
			padding-left: 25px;
			position: relative;
			vertical-align: top;

			&:after {
				content:"";
				border: 1px solid bs.color( grey-light );
				width:16px;
				height:16px;
				display:block;
				position: absolute;
				left:0;
				top:0;
				border-radius:3px;
				z-index: 0;
			}

			&:before {
				color: white;
				content: '\f00c';
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				left: 2px;
				position: absolute;
				top: 0;
				z-index:1;
			}
		}

		&:checked + label {
			&:before {
				top: 0;
			}

			&:after {
				background-color: bs.color( green );
				border: none;
			}
		}
	}
}
/* radio */
.radio, .gfield_radio li {
	input[type="radio"] {
		+ label {
			cursor: pointer;
			padding-left: 25px;
			position: relative;
			vertical-align: top;

			&:after {
				content:"";
				border: 1px solid bs.color( grey-light );
				width:18px;
				height:18px;
				display:block;
				position: absolute;
				left:0;
				top:0;
				border-radius: 50%;
				z-index: 0;
			}

			&:before {
				border-radius: 50%;
				content: '';
				left: 1px;
				top: 1px;
				width: 16px;
				height: 16px;
				position: absolute;
				z-index: 1;
			}
		}

		&:checked + label {
			&:before {
				border: 2px solid white;
			}

			&:after {
				background-color: bs.color( green );
				border-color: bs.color( green );
			}
		}
	}
}

// comments box 
textarea#comment {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

@media (max-width: 767px) {
	.q-bsg {
		.form-control {
			font-size: 14px;
		}
	}
}
