/* Layout */

// pull modules into local scope ##
@use 'q'; // placeholder ##
@use 'bootstrap' as bs; // bootstrap ##

// find horizontal scroller, should be commented out on deploy ##
// * { border: 1px solid #f00 !important; }
body.debug :not(.nodebug) { border: 1px dashed pink !important; }

// smooth scrolling ##
html {
	scroll-behavior: smooth;
}

// the-content ##
.q-section-primary {
	@extend %q-section;
}

// the-content ##
.q-section-secondary {
	@extend %q-section;
}

.columns {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 3em;
	-moz-column-gap: 3em;
	column-gap: 3em;
	@include bs.media-breakpoint-up(lg) {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 5em;
		-moz-column-gap: 5em;
		column-gap: 5em;
	 }
}

// md > ## 
@include bs.media-breakpoint-up(md) {
	.q-section-primary {
		@include q.q-section-md(); 
	}
	.q-section-secondary {
		@include q.q-section-md();;
	}
}

// lg > ##
@include bs.media-breakpoint-up(lg) {
	.q-section-primary {
		@include q.q-section-lg();	
	}
	.q-section-secondary {
		@include q.q-section-lg();;
	}
}

// no outlines, with accessible backup check ##
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
	outline: 0 !important;
	// border: none !important;
	-moz-outline-style: none !important;
	outline-style: none !important;
	box-shadow: initial !important;
}

// universal hover ##
.hover-brand:hover,
.btn.btn-primary:hover {
	background-color: bs.color( 'brand' ) !important;
	border-color: rgba(255, 255, 255, 0.2) !important;
	color: #fff !important;
}

.hover-brand:hover a{
	color: #fff !important;
}
