// Variables */

// Custom ##
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// $font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Bootstrap Elements ##
$body-bg:               #f2f2f2; // body background ##
// $font-size-base:        1.05rem; // increase base font size ##
// $font-size-lg:          1.1rem;
$enable-responsive-font-sizes: true; // v4.3 responsive font sizes -- https://getbootstrap.com/docs/4.3/content/typography/#responsive-font-sizes ##
// $table-border-color:    green;
$src_holder: 			"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMwODNiNDM7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoyMHB4O30uY2xzLTJ7ZmlsbDojMDgzYjQzO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMjU2IiBjeT0iMjY3LjQyIiByPSIzMy45OSIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIzMDIuMiAyMDIuNTIgMjg4LjkgMTc5LjY4IDIyMy4xIDE3OS42OCAyMDkuOCAyMDIuNTIgMTQ0IDIwMi41MiAxNDQgMzMyLjMyIDM2OCAzMzIuMzIgMzY4IDIwMi41MiAzMDIuMiAyMDIuNTIiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMiIgY3g9IjMzNy44IiBjeT0iMjMyLjQ5IiByPSIxMS40OSIvPjwvc3ZnPg==";

$colors: (

	// custom values ##
	"white":			#fff,
	"brand":			#ec5014,
    "green":            #a1df64,
    "black":            #000,
	"green-dark":       #68a927,
    "grey":             #97a0a5,
	"grey-light":       #d0d3d6,
	"grey-ddd":       	#dddddd,
	"grey-dark":		#333333,
    "blue":             #17475a,
    "background":       #f2f2f2,
    "red":              #aa2626,
    "body-text":        #67747c,
	"text":             #000,
	"text-link":        rgb(53, 53, 53),
    "text-disabled":    #ababab,
    "text-light":       #f2f2f2,
    "text-strong":      #2b3642,
    "link":             red,
    "disabled":         rgba(167, 168, 169, 0.5),
    "border":           #d2dae2,
	"purple":           purple,
	"link-hover":		green,

);

$theme-colors: (

    // BS values ##
    "primary":          #0074d9,
	"danger":           #ff4136,
	"label":          	#aa2626,
	"grey":       		#e7ebef,
	"brand":			#ec5014,
    
);
