// @use "color";

/* 404 */
.error404 .the-content {
  img {
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 400;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .error404 {
    padding-bottom: 25px;

    & > img {
      left: calc(50% - 185px);
      position: absolute;
      z-index: -1;
    }

    h2 {
      color: $color-text;
      font-size: 25px;

      a {
        font-size: 25px;
      }
    }
  }
}