// pull modules into local scope ##
@use 'q'; // config ##
@use 'bootstrap' as bs; // bootstrap ##

#anspress {

	background: transparent;

	table.ap-reputations {
		width: 100%;
	}

	.ap-questions{
		background: #fff;
	}

	ul {
		margin: 0 0 1em 2;
	}

	#form_question-is_private{
		margin-right: 10px;
	}

	#form_question-post_title {
		padding: 10px;
		font-size: x-large;
		height: auto;
	}

	input#form_answer-is_private{
		margin-right: 10px;
	}

}

table.ap-reputations {
	width: 100%;
}

// menu ##
#menu_support{

	li:hover{
		background: bs.color("brand");

		a{
			color: #fff !important;
		}
	}

	li > a{
		color: bs.theme-color("dark") !important;
	}

	li.current_page_item{

		a{
			color: #fff !important;
		}
	}

}
