// pull modules into local scope ##
@use 'q'; // placeholder ##
@use 'bootstrap' as bs; // bootstrap ##

.docs-menu {
	@include bs.media-breakpoint-up(md) {
		@supports (position: sticky) {
			position: sticky;
			top: 4rem;
			height: calc(100vh - 4rem);
			overflow-y: auto;
			padding-top: 1.5rem;
		}
	}
	order: 2;
	padding-bottom: 1.5rem;
	font-size: .875rem;
}

// keep text bold on current item ##
.list-group-item-action.current{
	font-weight: 600;
}

.docs-content-title {
	display: block;
	pointer-events: auto;
}

.docs-content>h2[id]::before, 
.docs-content>h3[id]::before, 
.docs-content>h4[id]::before,
.docs-content>h5[id]::before {
	display: block;
	height: 6rem;
	margin-top: -6rem;
	content: "";
}

// anchor JS script, included with modules/docs
.anchorjs-link {
	font-weight: 400;
	color: bs.color('brand');
	transition: color .15s ease-in-out,opacity .15s ease-in-out;
}

.anchorjs-link {
	opacity: 0;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

[data-anchorjs-icon]::after {
	content: attr(data-anchorjs-icon);
}
