// pull modules into local scope ##
@use 'q'; // placeholder ##
@use 'bootstrap' as bs; // bootstrap ##

.q_scroll {     
	position: fixed;
	right: 0px;
	top: 50%;
	z-index: 1000; 
}
.q_scroll > span {
	list-style-type: none;
	list-style: none;
	margin: 0;
	text-align: center;
}
.q_scroll > span > a { 
	width: 40px;
	height: 40px;
	display: block;
}
.q_scroll > span > a:hover {
	text-decoration: none;
}
.q_scroll > span > a:before { 
	content:"\00b0"; 
	line-height: 2.5;
}
