/* Frontpage */

// pull modules into local scope ##
@use 'q'; // config ##
@use 'bootstrap' as bs; // bootstrap ##

// primary content ##
.page-home {

	.card-columns {
		column-count: 1;
	}

	.container-fluid.home {

		position: relative;
		padding: 0rem 15px;
		background: linear-gradient(to right bottom, #e2e2e28c 50%, bs.color('background') 50% );

	}

	// sm > ## 
	@include bs.media-breakpoint-up(sm) {
		.container-fluid.home {
			padding: 3rem 15px;
		}
		.card-columns {
			column-count: 2;
		}
	}

	// lg > ## 
	@include bs.media-breakpoint-up(lg) {
		.card-columns {
			column-count: 3;
		}
	}

	.q-section-primary {
		
		.card:hover{
			background-color: bs.color( 'brand' );
			color: #fff;
		}

	}

}
