/* 
    Document   : tubepress.css
    Created on : 12-Dec-2012, 15:37:39
    Author     : Ray QL <ray@quintalinda.com>
    Description: style tubepress.
*/


#content .tubepress_container {
    margin-top: -25px;
}

#content .tubepress_embedded_title {
    font-weight: normal;
}

#content .tubepress_thumb {
    width: 130px;
    height: 175px;
    font-size: 11px;
    display: inline;
    line-height: 1em;
}

#content .tubepress_container dl {
    margin: 2px 5px;
}

#content .tubepress_container dd {
    line-height: 1;
}